.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loader {
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: radial-gradient(1.13em at 50% 1.6em, #000 99%, #0000 101%)
      calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em, #0000 99%, #000 101%) 50% 0.8em/3.2em
      100% repeat-x text;
  animation: l9 2s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l9 {
  to {
    background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) 0.8em;
  }
}

.export-btn {
  padding: 1em 1.5em;
  background: #ac1991;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
}

.data-transfer-btn {
  background: #ac1991;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  padding: 0.6em 1rem;
  position: absolute;
  right: 24px;
  z-index: 11111;
  font-weight: 500;
}

.vault-data-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.posts-data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.media-date {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 4px;
}
.data-selection {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1em 0;
  background: white;
  width: 75vw;
}
.data-name {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.data-selected {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: #ac1991;
  border-bottom: 2px solid #ac1991;
}

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-duration {
  position: absolute;
  bottom: 40px;
  left: 3px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.1em 0.5em;
  border-radius: 8px;
}

.checkboxes__item {
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 111111;
}

.checkbox.style-d {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-d input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark {
  background-color: #08ff52;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-d:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
  background-color: #08ff52;
}
.checkbox.style-d:hover input ~ .checkbox__body {
  color: #08ff52;
}
.checkbox.style-d .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-d .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-d .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}
